---
pagination:
  data: collections.postsWithAuthor
  size: 10
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
title: Blog
---
<p>Here are the blog posts:</p>

<ol>
	{%- for post in pagination.items -%}
		<li><a href="{{ post.url }}">{{ post.data.title }}</a> by {{ post.data.authorItem.data.name }}</li>
	{%- endfor -%}
</ol>

{% if pagination.href.previous or pagination.href.next %}
	<p>{{ pagination.pageNumber }} of {{ pagination.hrefs.length }}</p>

	{% if pagination.href.previous %}
		<p><a href="{{ pagination.href.previous }}">Previous page</a></p>
	{% endif %}

	{% if pagination.href.next %}
		<p><a href="{{ pagination.href.next }}">Next page</a></p>
	{% endif %}
{% endif %}
