---
eleventyExcludeFromCollections: true
permalink: /_cloudcannon/config.json
---
{
	"time": "{{ build.date.toISOString() }}",

	"cloudcannon": {
		"name": "eleventy-plugin-cloudcannon",
		"version": "{{ pkg.dependencies['eleventy-plugin-cloudcannon'] }}"
	},

	"generator": {
		"name": "eleventy",
		"version": "{{ pkg.dependencies['@11ty/eleventy'] }}",
		"environment": "{{ environment }}",
		"metadata": {
			"markdown": "commonmark",
			"commonmark": {}
		}
	},

	"source": "{% ccInput %}",

	{% if cloudcannon['timezone'] %}
		"timezone": "{{ cloudcannon['timezone'] }}",
	{% endif %}

	"base-url": "{% ccPathPrefix %}",

	"collections": {{ getCollections(collections, cloudcannon) | ccJsonify | safe }},

	{% if cloudcannon['comments'] %}
		"comments": {{ cloudcannon['comments'] | ccJsonify | safe }},
	{% endif %}

	{% if cloudcannon['input-options'] %}
		"input-options": {{ cloudcannon['input-options'] | ccJsonify | safe }},
	{% endif %}

	{% if cloudcannon['editor'] %}
		"editor": {{ cloudcannon['editor'] | ccJsonify | safe }},
	{% endif %}

	{% if cloudcannon['source-editor'] %}
		"source-editor": {{ cloudcannon['source-editor'] | ccJsonify | safe }},
	{% endif %}

	{% if cloudcannon['explore'] %}
		"explore": {{ cloudcannon['explore'] | ccJsonify | safe }},
	{% endif %}

	{% if cloudcannon['array-structures'] %}
		"array-structures": {{ cloudcannon['array-structures'] | ccJsonify | safe }},
	{% endif %}

	{% if cloudcannon['select-data'] %}
		"select-data": {{ cloudcannon['select-data'] | ccJsonify | safe }},
	{% endif %}

	"paths": {
		{% if cloudcannon['uploads-path'] %}
			"uploads": "{{ cloudcannon['uploads-path'] }}",
		{% endif %}
		"data": "{% ccConfigPath 'data' %}",
		"collections": "",
		"includes": "{% ccConfigPath 'includes' %}",
		"layouts": "{% ccConfigPath 'layouts' %}"
	}
}
