---
eleventyExcludeFromCollections: true
permalink: /_cloudcannon/details.json
---
{
	"time": "{{ build.date.toISOString() }}",
	"cloudcannon": {
		"name": "eleventy-plugin-cloudcannon",
		"version": "{{ pkg.dependencies['eleventy-plugin-cloudcannon'] }}"
	},
	"generator": {
		"name": "eleventy",
		"version": "{{ pkg.dependencies['@11ty/eleventy'] }}",
		"environment": "{{ environment }}",
		"metadata": {
			"markdown": "commonmark",
			"commonmark": {}
		}
	},
	"collections": {
		{%- for tag, items in getCollections(collections) %}
			"{{ tag }}": [
				{% for item in items %}
					{{ processItem(item, tag) | ccJsonify | safe }}{{ '' if loop.last else ',' }}
				{% endfor %}
			]{{ '' if loop.last else ',' }}
		{%- endfor %}
	},
	"pages": [
		{%- for item in getPages(collections) %}
			{{ processItem(item) | ccJsonify | safe }}{{ '' if loop.last else ',' }}
		{% endfor %}
	],
	"static-pages": [
		{%- for item in getStaticPages(collections) %}
			{{ processItem(item) | ccJsonify | safe }}{{ '' if loop.last else ',' }}
		{% endfor %}
	]
}
