---
title: About
description: All about us!
---
<p>We are a company! This is an example website! Our authors:</p>

<ul>
	{% for author in collections.authors %}
		<li>{{ author.data.name }}</li>
	{% endfor %}
</ul>
