---
title: About
call_to_action: Contact
large_header: false
show_in_navigation: true
navigation_order: 1
---
<div class="editable">
	<p>
		Serving your community for over a century, Justice Law is committed to helping people through a number of services.
		Our services range from conveyancing, mortgages to family law. Our clients range from large businesses to first home buyers.
	</p>

	<p>Meet the members of our capable team:</p>
</div>

<ul class="staff-list">
	{% for member in collections.staffMembers %}
		<li class="staff">
			{% include 'staff-member.njk' %}
		</li>
	{% endfor %}
</ul>
