---
pagination:
  data: collections.posts
  size: 10
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
title: Blog
call_to_action: Contact
large_header: false
show_in_navigation: true
navigation_order: 4
---
<p class="editable">Get an introduction to some industry topics and stay informed with our in-depth articles.</p>

<ol class="post-list">
	{%- for post in pagination.items -%}
		{%- include 'post-summary.njk' -%}
	{%- endfor -%}
</ol>

{% if pagination.href.previous or pagination.href.next %}
	<div class="pagination">
		{% if pagination.href.previous %}
			<a href="{{ site.baseurl }}{{ pagination.href.previous }}" class="previous btn">&larr; Newer</a>
		{% elif pagination.href.next %}
			<span></span>
		{% endif %}

		<span>{{ pagination.pageNumber }} of {{ pagination.hrefs.length }}</span>

		{% if pagination.href.next %}
			<a href="{{ site.baseurl }}{{ pagination.href.next }}" class="next btn">Older &rarr;</a>
		{% elif pagination.href.previous %}
			<span></span>
		{% endif %}
	</div>
{% endif %}
