---
title:
quotes:
  - message: So awesome!
    name: Happy Chappy
  - message: Totally rad!
    name: Skatey One Eighty
  - message: Gnarly!
    name: Surfer Dude
permalink: /
---
<p>This is a test website. Here are some quotes:</p>

<ul>
	{% for quote in quotes %}
		<li>{{ quote.message }} from {{ quote.name }}</li>
	{% endfor %}
</ul>
